<div class="well">
	<p><%= @message %></p>
</div>

<div class="col-md-6">
<h3>About the Developer</h3>

<p>I am tall. Like, really tall. I am between 6'4 and 6'9, depending on which convenience store I am walking out of. I like Bacon, Star Wars, Zombies, and cake. I will go to great lengths for cake. I attend weddings of people I do not like, because I know there will be cake there.</p>

<p>TallKeith is the internet moniker I have come up with to make myself more memorble. When you meet me, it is easier for you to recall the tall guy you met. It helps me stand out.</p>
</div>